{% extends "base.html" %}
{% block content %}

    
    
    <form name="change_password_form" action="/change_password/" method="POST" id="change_password-form"> {% csrf_token %}
        <h1><strong>Canviar la contrasenya</strong></h1>
        <p><strong> problemes per entrar?</strong> </p>
        <p>Introdueix el teu email i t'enviarem una contrasenya nova.</p>
        <p> <input type="text" name="email" placeholder="Email"></p>
        <input action="submit" type="submit" value="Enviar">
        {% if error == False %} 
        <div class="alert alert-success" id="change_password-form-error">
            Missatge enviat correctament. 
        </div>
        {% elif error == True %}
        <div class="alert alert-danger" id="change_password-form-error">
            Email incorrecte
        </div>
        {% endif %}
     </form>


{% endblock %}