{% extends "base.html" %}
{% block content %}
<div id="main-content">
<h1><strong>Vedella ecològica de Trullàs</strong></h1>
<p><strong> Ja des de l'any 1992 en que vàrem començar el ramat de vaques de Trullàs a Calders (Moianès), el nostre objectiu ha estat sempre produir vedella de la manera més ecològica possible, aprofitant els recursos naturals de la nostra explotació.
    Tenim l'aval del CCPAE des de l'any 1999, que certifica que tota la producció es fa segons la normativa ecològica.</strong> </p>
<p><strong>Tots els farratges, els cereals i les pastures tenen la certificació ecològica del CCPAE que garanteix tot el procés de creixement dels vedells.

 
    La nostra vedella només es ven a carnisseries artesanals on es pot garantir la traçabilitat del producte ecològic fins al consumidor.</strong></p>
</div>
{% endblock %}